@import url("normalize.css");
/*COMP 2132 - DICE GAME FINAL - Nov 19. 2020*/
/*  David Deda
    Heather Tijman
    Bruce Wong
*/
html {
  box-sizing: border-box;
  width: 100%;
  background-color: midnightblue;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: midnightblue;
  color: black;
  display: flex;
  line-height: 1.2em;
  margin: 0 auto;
  padding: 0;
  min-width: 745px;
  max-width: 1024px;
  width: 95%;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-family: 'Calibri', sans-serif, monospace;
}

footer {
  padding: 20px;
  color: ivory;
}

footer p {
  line-height: 1;
  margin: 0;
}

#rap {
  margin: 1em;
  width: 745px;
}

header {
  width: 99.7%;
}

header h1 {
  color: ivory;
  font-family: 'Lucida sans', monospace;
  font-weight: lighter;
  font-size: 48pt;
  padding: 0;
  margin: 40px 4px;
  line-height: 1.3em;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
}

main {
  flex-direction: column;
  flex-wrap: wrap;
}

main h2:first-child {
  padding-top: .7em;
}

main h2 {
  color: maroon;
  font-family: 'Lucida sans', monospace;
  font-weight: lighter;
  font-size: 22pt;
  margin: 0 auto;
  padding: .5em;
  line-height: 1.2em;
}

main h2#glowText {
  text-shadow: 1px 1px 0 cyan;
}

main h3 {
  font-size: 24pt;
  font-family: 'Lucida sans', monospace;
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
}

main img {
  border: none;
  height: 100%;
  width: 100px;
}

main p {
  color: black;
  font-size: 18px;
  line-height: 1.2em;
  margin: 0;
  padding: 1em 2em;
  text-align: center;
}

section.hideshow li {
  color: #3d006e;
  font-size: 16px;
  padding-left: .5em;
}

section.hideshow li:first-child {
  padding-top: 1.5em;
}

ol {
  padding-right: 1.5em;
}

#btn_show {
  background: midnightblue;
  color: ivory;
  border: none;
  padding: 4px 100px;
}

#rules {
  padding-bottom: 1.5em;
}

#btnNewGame {
  margin: 1em auto;
  color: indigo;
  background: ivory;
  padding: .8em 1em;
  border: 1px dashed violet;
}

#rollDicebtn {
  color: indigo;
  background: ivory;
  padding: .8em 1em;
  border: 1px solid chartreuse;
}

#rollDicebtn:focus {
  outline: none;
}

.butn {
  box-shadow: 0 0 20px lightgreen;
  border-radius: 50%;
  border: 1px solid #4ecca3;
  color: ivory;
  font-size: 30px;
  padding: 16px 25px 16px 25px;
  text-decoration: none;
  position: relative;
}

.butn:focus {
  outline: none;
}

.butn:hover {
  background: #232931;
  text-decoration: none;
}

.container {
  background: lightgreen;
  font-size: 20px;
  width: 100%;
  align-items: center;
  margin-top: 5%;
}

.container2 {
  display: grid;
  font-size: 20px;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  /* arranging the grid template areas 
       is like stacking legos*/
  grid-template-areas: "info info2" "dice dice2 " "play play2 ";
  align-items: center;
  margin: auto 0;
}

.d1 {
  grid-area: info;
  background: lightgreen;
  padding-bottom: 1em;
  max-height: 403px;
  height: 100%;
}

.d11 {
  grid-area: info2;
  background: lightgreen;
  padding-bottom: 1em;
  max-width: 372.53px;
}

.d2 {
  grid-area: dice;
  background: lightskyblue;
  align-items: center;
  padding: 1em;
}

.d3 {
  grid-area: dice2;
  background: lightseagreen;
  align-items: center;
  padding: 1em;
}

.d4 {
  grid-area: play;
  background: lightskyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.d5 {
  grid-area: play2;
  background: lightseagreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.d6 {
  background: yellow;
}

/*flexbox*/
.parent {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
}

.div2 {
  margin: 5px;
  height: 100px;
  border-collapse: collapse;
}

.div3 {
  margin: 5px;
  height: 100px;
}

.div4 {
  margin: 5px;
  height: 25px;
}

#div4Display {
  border: 1px solid black;
  padding: 4px;
  background: lightgoldenrodyellow;
}

.div5 {
  margin: 5px;
  height: 25px;
}

#div5Display {
  border: 1px solid black;
  padding: 4px;
  background: lightcyan;
}

.parent2 {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-collapse: collapse;
}

.div22 {
  margin: 5px;
  height: 100px;
  border-collapse: collapse;
}

.div23 {
  margin: 5px;
  height: 100px;
}

.div24 {
  margin: 5px;
  height: 25px;
}

#div24Display {
  border: 1px solid lightgoldenrodyellow;
  padding: 4px;
  background: lightgoldenrodyellow;
}

.div25 {
  margin: 5px;
  height: 25px;
}

#div25Display {
  border: 1px solid black;
  padding: 4px;
  background: lightcyan;
}
