@charset "utf-8";
//import css reset 
@import url("normalize.css");

/*COMP 2132 - DICE GAME FINAL - Nov 19. 2020*/

/*  David Deda
    Heather Tijman
    Bruce Wong
*/

//site colours
$bg: midnightblue;
$main: black;
$container: lightgreen;
$bright:ivory;

html {
    box-sizing:border-box;
    width:100%;
    background-color: $bg;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
	background-color: $bg;
    color: $main;
    display:flex;
    line-height: 1.2em;
    margin:0 auto;
    padding:0;
    min-width:400px;
    max-width:1440px;
    width:95%;
    justify-content:center;
    text-align:center;
    font: {
        size: 18px;
        family: 'Calibri', sans-serif, monospace;
}}
footer {
    padding: 20px;
    color:$bright;
    p {
    line-height: 1;
    margin: 0;
    }
}
///////////////// page wrap div id
#rap {
    margin:1em;
    width: 100%;  /* for mobile */
    max-width: 1024px; /* for pc and tablet */
}////////////////

header {
    width:99.7%;
    h1 {
        color:$bright;
        font-family: 'Lucida sans', monospace;
        font-size: 48pt;
        font-weight:lighter;
        padding:.5em;
        margin: 18px 4px 4px 4px;
        text-align:center;
        line-height:1.3em;
        letter-spacing: .2em;
        text-transform: uppercase;
}}
h2{
    font-size:24pt;
    font-family: 'Lucida sans', monospace;
    font-weight:lighter;
	margin:0;
    padding: .5em;
    line-height: 1.2em;
    text-align:center;
}
h3 {
    font-size:22px;
    font-family: 'Lucida sans', monospace;
    font-weight:lighter;
    margin:0 auto;
    //padding-top:2px;
    color:maroon;
}
h3#glowText{
    text-shadow: 1px 1px 0 cyan;
}
main {
    flex-direction:column;
    flex-wrap:wrap;
    h3:first-child{
        padding-top:1.5em;
    }
    p {
        padding:.5em 2em;
        margin:0;
        line-height:1.2em;
        color:rgb(22, 22, 119);
        font-size:18px;
        text-align:center;
    }
}
//hide show animation reveal
    #rules{
        padding-bottom:1.5em;
    }
    section.hideshow li{
        color: rgb(61, 0, 110);
        font-size:16px;
    }
    section.hideshow li:first-child{
        padding-top:1.5em;
    }
    #btn_show{
        background: $bg;
        color:$bright;
        border:none;
        padding:4px 100px;
}
#btnNewGame{
    margin:1em auto;

}
.butn { //dice roll buttons
    background: #4ecca3; 
    font-family: "Indie Flower", cursive; 
    border-radius: 50%; 
    color: $bright; 
    font-size: 30px; 
    padding: 16px 25px 16px 25px; 
    text-decoration: none;
    position:relative;
} 
.butn:hover { 
    background: #232931; 
    text-decoration: none; 
}
.container {
    font-size: 20px;
    width: 100%;
    background: $container;
    align-items:center;
    margin-top:5%;
}
.container2{
    font-size: 20px;
    width: 100%;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    /* arranging the grid template areas 
       is like stacking legos*/
    grid-template-areas:
    
      "info info2"
      "dice dice2 "
      "play play2 ";

    /* this isnt the only way to do it 
       but i like representing the grid 
       items with names instead of numbers*/
    display:grid;
    align-items:center;
    margin: auto 0;
}
.d1{
    background:$container; 
    padding-bottom:1em;
    grid-area:info;
    max-height:403px;
    height:100%;
}
.d11{
    background: $container;
    padding-bottom:1em;
    grid-area:info2;
    max-width:372.53px;

}
.d2{
    background:lightskyblue;
    grid-area:dice;
    align-items:center;
    padding:1em;
}
.d3{
    background:lightseagreen;
    grid-area:dice2;
    align-items:center;
    padding:1em;
}
.d4{
    background:lightskyblue;
    grid-area:play;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:1em;
}
.d5{
    background:lightseagreen;
    grid-area:play2;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:1em;
}
.d6{
    background:yellow;
}
.dice{
    text-align: center; 
    display: inline-block; 
    margin: 10px; 
} 
 
/////////////////////// img styling
.imge1{
    height:100%;
    width:100px;
    box-shadow:	2px	2px	10px $main;
}
.imge2{
    width:100px;
    box-shadow:	2px	2px	10px $main;
}
///////////////////////

/*flexbox*/
.parent {
    //margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
}
.div1{ //Player1 heading
    
    margin: 5px;
    //margin-left: 50px;
    border: 1px dashed $main;
    border-collapse: collapse;
}
.div2{  //Player1 Dice#1 title
    margin: 5px;
    //width: 50px;
    height:100px;
    //font-size: 30px;
    border: 1px solid $main;
    border-collapse: collapse;
}
.div3{ //Player1 Dice#2 title
    margin: 5px;
    height:100px;
    border: 1px solid $main;
}
.div4{ //Player1 Score this round title
    margin: 5px;
    //width: 50px;
    height: 25px;
}
#div4Display{
    border: 1px solid $main;
    padding:4px;
    background:lightgoldenrodyellow;
}
.div5{ //Player1 Total Score title
    margin: 5px;
    //width: 100px;
    height: 25px;
}
#div5Display{
    border: 1px solid $main;
    padding:4px;
    background:lightcyan;
}
.div6{
    margin: 5px;
    //width: 100px;
    border: 1px solid $main;
}
.parent2 {
    //margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
}
.div21{ // COMPUTER heading
    margin: 5px;
    border: 1px dashed $main;
    border-collapse: collapse;
}
.div22{ //computer Dice#1
    margin: 5px;
    //width: 50px;
    height:100px;
    //font-size: 30px;
    border: 1px solid $main;
    border-collapse: collapse;
}
.div23{ //computer Dice#2
    margin: 5px;
    height:100px;
    border: 1px solid ;
}
.div24{ //computer Score this round title
    margin: 5px;
    //width: 50px;
    height: 25px;
}
#div24Display{
    border: 1px solid lightgoldenrodyellow;
    padding:4px;
    background:lightgoldenrodyellow;
}
.div25{ //computer Total Score title
    margin: 5px;
    //width: 100px;
    height: 25px;
}
#div25Display{
    border: 1px solid $main;
    padding:4px;
    background:lightcyan;
}
.div26{
    margin: 5px;
    //width: 100px;
    height: 50px;
    border: 1px solid $main;
}
