@charset "utf-8";
//import css reset 
@import url("normalize.css");

/*COMP 2132 - DICE GAME FINAL - Nov 19. 2020*/

/*  David Deda
    Heather Tijman
    Bruce Wong
*/

//site colours
$bg: midnightblue;
$main: black;
$container: lightgreen;
$bright:ivory;
$blue:lightskyblue;
$green:lightseagreen;

//mixins
@mixin rounded-shaded-box($xoffset, $yoffset, $rounded-corners, $border-color){
    box-shadow:$xoffset $yoffset 20px $container;	  
}

//html elements
html {
    box-sizing:border-box;
    width:100%;
    background-color: $bg;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
	background-color: $bg;
    color: $main;
    display:flex;
    line-height: 1.2em;
    margin:0 auto;
    padding:0;
    min-width:745px;
    max-width:1024px;
    width:97%;
    justify-content:center;
    text-align:center;
    font: {
        size: 18px;
        family: 'Calibri', sans-serif, monospace;
}}
footer {
    padding: 20px;
    color:$bright;
    p {
    line-height: 1;
    font-size:14px;
    }
}
///////////////// page wrap div id
#rap {
    margin:.5em;
    width: 95%; 

}////////////////

header {
    width:99.7%;
    h1 {
        color:$bright;
        font: {
            family: 'Lucida sans', monospace;
            weight:lighter;
            size: 48pt;
        }
        padding:0;
        margin: 40px 4px;
        line-height:1.3em;
        letter-spacing: .2em;
        text: {
            align:center;
            transform: uppercase;
        }
    }
}
main {
    flex: {
        direction:column;
        wrap:wrap;
    }
    h2:first-child{
        padding-top:.7em;
    }
    h2 {
        color:maroon;
        font: {
            family: 'Lucida sans', monospace;
            weight:lighter;
            size:22pt;

        }
        margin:0 auto;
        padding: .5em;
        line-height: 1.2em;
    }
    h3{
        font: {
            size:24pt;
            family: 'Lucida sans', monospace;
            weight: lighter;
        }
        margin:0 auto;
        text-align:center;
    }
    img{
        border:none;
        height:100%;
        width:100px;
    }
    p {
        color:$main;
        font-size:18px;
        line-height:1.2em;
        text-align:center;
    }
}
//hide show dropdown slide animation reveal
    section.hideshow li{
        color: rgb(61, 0, 110);
        font-size:16px;
        padding-left:.5em;
    }
    section.hideshow li:first-child{
        padding-top:1.5em;
    }
    ol{
        padding-right:1.5em;
    }
    #btn_show{
        background: $bg;
        color:palegoldenrod;
        border:none;
        padding:4px 100px;
    }
    #btn_show:focus{
        outline:none;
    }
    #rules{
        padding-bottom:1.5em;
    }

.butn { //dice img buttons
    //background: #4ecca3; 
    @include rounded-shaded-box(0, 0, 20px, $main);
    border-radius: 50%; 
    border: 1px solid #4ecca3;
    color: $bright; 
    font-size: 30px; 
    padding: 16px 25px 16px 25px; 
    text-decoration: none;
    position:relative;
} 
.butn:focus {
    outline: none;
}
.butn:hover { 
    background: #232931; 
    text-decoration: none; 
}
//top
.container {
    background: $container;
    font-size: 20px;
    width: 100%;
    align-items:center;
    margin-top:5%;
}
//mid
.container2{
    display:grid;
    font-size: 20px;
    width: 666px;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    /* arranging the grid template areas 
       is like stacking legos*/
    grid-template-areas:
    
      "info info2"
      "dice dice2 "
      "play play2 ";

    align-items:center;
    margin: auto 0;
}
//how to play
.d1{
    grid-area:info;
    background:$container; 
    padding-bottom:1em;
    height:100%;
    width:333px;

}
//rules
.d11{
    grid-area:info2;
    background: $container;
    background: linear-gradient($blue, $green);
    padding-bottom:1em;
    width:333px;

}
//player dice
.d2{
    grid-area:dice;
    background:$blue;
    align-items:center;
    padding:.5em;
    width:333px;

}
//comp dice
.d3{
    grid-area:dice2;
    background:$green;
    align-items:center;
    padding:.5em;
    width:333px;

}
//player output
.d4{
    grid-area:play;
    background:$blue;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:1em;
    width:333px;


}
//computer output
.d5{
    grid-area:play2;
    background:$green;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:1em;
    width:333px;

}
//click buttons
.d6{
    background:yellow;
    width:666px;
}

/*flexbox*/
//part 1 -- player 1 info
    .parent {
        display: flex;
        align-items: center;
        justify-content: center;
        border-collapse: collapse;
    }
.div2{  //Player1 Dice#1 
    margin: 5px;
    height:100%;
    width: 60px;
    border-collapse: collapse;
}
.div3{ //Player1 Dice#2 
    margin: 5px;
    height:100%;
    width: 60px;
    border-collapse: collapse;
}
.div4{ //Player1 Score this round title
    margin: 5px;
    height: 25px;
}
#div4Display{
    border: 1px solid $main;
    padding:4px;
    background:lightgoldenrodyellow;
}
.div5{ //Player1 Total Score title
    margin: 5px;
    height: 25px;
}
#div5Display{
    border: 1px solid $main;
    padding:4px;
    background:lightcyan;
}

//part 2 -- computer info
    .parent2 {
        display: flex;
        align-items: center;
        justify-content: center;
        border-collapse: collapse;
    }
.div22{ //computer Dice#1
    margin: 5px;
    height:100%;
    width:60px;
    border-collapse: collapse;
}
.div23{ //computer Dice#2
    margin: 5px;
    height:100%;
    width:60px;
    border-collapse: collapse;
}
.div24{ //computer Score this round title
    margin: 5px;
    //width: 50px;
    height: 25px;
}
#div24Display{
    border: 1px solid lightgoldenrodyellow;
    padding:4px;
    background:lightgoldenrodyellow;
}
.div25{ //computer Total Score title
    margin: 5px;
    //width: 100px;
    height: 25px;
}
#div25Display{
    border: 1px solid $main;
    padding:4px;
    background:lightcyan;
}

//glowing text effect
.glowText{
    text-shadow: 1px 1px 0 cyan;
}
//new game button
#btnNewGame{
    margin:1em auto;
    color:indigo;
    background:$bright;
    padding: .8em 1em;
    border:1px dashed violet;
}
#rollDicebtn{
    color:indigo;
    background:$bright;
    padding:.8em 1em;
    border:1px solid chartreuse;
}
#rollDicebtn:focus{
    outline:none;
}