@charset "utf-8";
//import css reset 
@import url("normalize.css");

/*COMP 2132 - DICE GAME FINAL - Nov 19. 2020*/

/*  Bruce Wong
    David Deda
    Heather Tijman
*/

$bg: darkslateblue;
$main: black;
$container: #8fa8fc;
$link: #aaf0f0;
$hover: violet;
$visited:darkturquoise;

html {
    box-sizing:border-box;
    width:100%;
    background-color: $bg;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
	background-color: $bg;
    color: $main;
    display:flex;
    line-height: 1.2em;
    margin:0 auto;
    padding:0;
    min-width:400px;
    max-width:1440px;
    width:95%;
    justify-content:center;
    text-align:center;
    font: {
        size: 18px;
        family: 'Calibri', sans-serif, monospace;
}}
footer {
    padding: 20px;
    color:white;
    p {
    line-height: 1;
    margin: 0;
    }
}
///////////////// page wrap div id
#rap {
    margin:1em;
}////////////////

header {
    width:99.7%;
    h1 {
        color:#fff5ee;
        font-family: 'Lucida sans', monospace;
        font-size: 32pt;
        font-weight:lighter;
        padding:.5em;
        margin:4px 4px 24px 4px;
        text-align:center;
        line-height:1.3em;
        letter-spacing: .2em;
        text-transform: uppercase;
}}
h2 {
    font-size:24pt;
    font-family: 'Lucida sans', monospace;
    font-weight:lighter;
	margin:4px;
    padding: .5em;
    line-height: 1.2em;
    text-align:center;
}
h3 {
    font-size:22px;
    font-family: 'Lucida sans', monospace;
    font-weight:lighter;
    margin:0 auto;
    padding-top:2px;
    padding-left:1em;
    color:maroon;
}
main {
    text-align:left;
    flex-direction:column;
    flex-wrap:wrap;
    h3:first-child{
        padding-top:1.5em;
    }
    p {
        font-family: 'Georgia', 'Times New Roman', serif, monospace;
        padding:.5em 2em;
        margin:0;
        line-height:1.2em;
        color:rgb(22, 22, 119);
        font-size:18px;
        text-align:center;
    }
}
#rules{
    padding-bottom:1.5em;
}



.butn { 
    background: #4ecca3; 
    font-family: "Indie Flower", cursive; 
    border-radius: 50%; 
    color: #ffff; 
    font-size: 30px; 
    padding: 16px 25px 16px 25px; 
    text-decoration: none;
    position:relative;
} 
.butn:hover { 
    background: #232931; 
    text-decoration: none; 
}
.container {
    font-size: 20px;
    width: 100%;
    background: $container;
    align-items:center;
    margin-top:5%;
}
.container2{
    font-size: 20px;
    width: 100%;
    grid-template-columns: auto auto ;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap:10px;
    /* arranging the grid template areas 
       is like stacking legos*/
    grid-template-areas:

      "dice dice2 "
      "play play2 ";

    /* this isnt the only way to do it 
       but i like representing the grid 
       items with names instead of numbers*/
    display:grid;
    align-items:center;
    margin: auto 0;

}
.d1{
    background:$container;

}
.d2{
    background:lightseagreen;
    grid-area:dice;
    align-items:center;

}
.d3{
    background:skyblue;
    grid-area:dice2;
    align-items:center;

}
.d4{
    background:darkcyan;
    grid-area:play;
}
.d5{
    background:lightskyblue;
    grid-area:play2;
}
.dice{
    text-align: center; 
    display: inline-block; 
    margin: 10px; 
} 

/////////////////////// img styling
.imge1{
    height:100%;
    width:100px;
    box-shadow:	2px	2px	10px black;
}
.imge2{
    width:100px;
    box-shadow:	2px	2px	10px black;
}
///////////////////////


//////////////////// links
.external-links {
    color: $link;
}
.external-links:hover {
    color: $hover;
}
.internal-links {
    color: $link;
}
.internal-links:hover {
    color: #b49cf7;
}
///////////////////